$bg_color_corrupted :#C22626;
$border_color : #646464;
$border_color_item: $primary-color;
$link_color: #DCD7D7;
$color_white : #fff;
$color_gem_name : #1ba29b;
$color_unique_name : #af6025;
$color_rare_name : #a3a314;
$color_magic_name : #6688ff;
$color_currency_name : #9c7e38;
$color_normal_name : $body-font-color;
$color_card_name : #dcd3c3;
$switch_on_color: #43AC6A;
$color_fire: #F04124;
$color_cold: #00b8e6;
$color_lightning: #cccc00;
$color_chaos: #FF2DB3;
$color_life: #F04124;
$color_mana: #9898FF;
$color_quality: #56AB56;
$color_item_text: #adadad;
$color_input_bg: rgba(0,0,0,0.1);