@import "settings";
@import "foundation";

$bg_color_corrupted :#C22626;
$border_color_item : #004978;
$color_white : #fff;
$color_gem_name : #1ba29b;
$color_unique_name : #af6025;
$color_rare_name : #a3a314;
$color_magic_name : #4E4EEB;
$color_currency_name : #9c7e38;
$color_normal_name : #111;
$color_card_name : #dcd3c3;
$switch_on_color: #43AC6A;


body {
	background: rgba(0, 0, 0, 0.06);
}

li {
	list-style-type: none;
}
ul {
	margin-left: 0;
}

em {
  font-style: normal;         /* Removes italics */
  text-decoration: underline; /* Makes underline */
}

img.pageLogo {
	width: 40px;
	height: 40px;
	margin: 8px !important;
}
.menu-bar > li > a.pageLogo {
	padding: 0;
}

.label.corrupted {
	padding: 0.13333rem 0.5rem;
	background-color: $bg_color_corrupted;
}
.label.mirrored {
	padding: 0.13333rem 0.5rem;
	background-color: grey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.app-header {
	color: white;
	background-color: #00558b;
	border-bottom: 1px solid #69768b;
	text-align: right;
	font-size: rem-calc(12px);
	span {
		display: inline-block;
		padding: 2px;
		vertical-align: middle;
	}
	a {
		color: white;
	}
	.gitter {
		margin-right: 34px;
	}
	.disclaimer, .repo {
		color: white;
		border-color: white;
		padding:4px;
		margin: 2px;
	}
}

.menu-bar {
	h1 {
		font-size: 2.5rem;
		color: white;
		margin: 0;
	}
	h6 {
		color: #ababab;
	}
}

.searchField {
	padding: 0 3rem;
	hr {
		margin-top: 5px;
	}
}
.badSearchInputTerms, .sampleSearches, .termsGuide, .spoiler {
	.accordion-title, .accordion-content {
		padding: 0.5rem;
		font-size: rem-calc(12px);
	}
	ul, ol {
		font-size: rem-calc(14px);
		margin-bottom: 0px;
		font-family: monospace;
	}
	p {
		font-size: rem-calc(12px);
	}
}
.openOptions, .openSaves {
	width: 30px;
	height:30px;
	display: inline-block;
	position: absolute;
	top: 106px;
	padding: 6px;
	box-shadow: 3px 0 10px rgba(0, 0, 0, 0.25);
	border: 1px solid lightgrey;
}

.openOptions {
	left: 0;
}
.openSaves {
	right:16px;
	&.bookmark {
		top:136px;
	}
}

.footer {
	max-height:50px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid grey;
	background-color:$border_color_item;
	color: white;
	font-size: rem-calc(10px);
}

.DivWithScroll {
    height:520px;
    overflow:scroll;
    overflow-x:hidden;
}

.wide-json-dialog aside {
	max-width: 740px;
}

.rowOdd {
	background-color: #FFF;
}

.rowEven {
	background-color: #BFE7FF;
}


img.gitter-badge {
	margin:0;
}

#main {
	padding-top: 15px;
}

.grid-content.search-results .grid-block {
	margin-left: 0;
	margin-right: 0;
}

.search-options {
	margin:0 !important;

	.label-pseudoMods {
		margin:0;
		padding: 7px;
	}
}

.highlight {
	background-color: rgba(0,0,0,.2);
}
.itemsPerRow {
	flex: 0 0 100%;
}

.absoluteNavBtn {
	position: absolute;
	top: 42px;
	&.savedSearches {
		right: 10px;
	}
	&.scrollTop {
		right: 182px;
	}
}

.searchStats {
	font-size: 12px;
}

.code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-weight:100;
    font-size: 14px;
}

.search-results {

	.item {
		min-width: 600px;
		margin: 5px 0;
		padding: 0;

		h5 {
			margin: 0;
		}

		a.name {
            &.Normal {
				color: $color_normal_name;
            }
            &.Magic {
				color: $color_magic_name;
            }
            &.Rare {
				color: $color_rare_name;
            }
            &.Unique {
				color: $color_unique_name;
            }
            &.Gem {
				color: $color_gem_name;
            }
            &.Currency {
				color: $color_currency_name;
            }
            &.Card {
				color: $color_card_name;
            }
        }

		.item-border {
			margin: 0 5px;
			border-top: transparent;
		}
		.item-inner-border {
			border: 1px solid $border_color_item;
			padding: 5px 5px 0px 5px;

		}
		.item-header {
			line-height: 30px;
			height: 30px;
			color: $color_white;
			border-bottom: 1px solid $border_color_item;
			width: 100%;

			.controls {
				background-color: $border_color_item;
				padding: 0 8px;
				border: 1px solid $border_color_item;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				a > .iconic * {
					fill: #f1f1f1 !important;
					stroke: #f1f1f1 !important;
				}

				svg {
					width: 25px !important;
					height: 18px !important;
					margin-top: 6px;
					margin-left: 15px;
					margin-right: 5px;

					&:hover{
						cursor: pointer;
					}
					.iconic {
						fill: #f1f1f1;
						stroke: #f1f1f1;
					}
				}

				.switch.small {
					width: 2.2rem;
					height: 1.325rem;
					margin-top: 4px;
				}
				.switch.small > label::after {
					width: 1.325rem;
					height: 1.325rem;
				}
				.switch input:checked + label {
					background-color: $switch_on_color;
					&:after {
						border-color: $switch_on_color;
					}
				}

				.saveNotificationLink {
					color: white;
				}
			}
		}

		span {
			display: inline;
			line-height: 1em;
		}
		
		.sortable {
			&:hover {
				cursor: default;
			}
		}
		.click {
			cursor: pointer;
		}
	}
	.item-box-left {
		position: relative;
		padding-right: 15px;
	}
	.item-box-right {
		flex-direction: column;
	}
	.grid-block.item-info {
		min-height: 170px;
		margin-left: 114px;
	}
	.item-info .grid-block {
		flex-grow: 0;
		-webkit-flex-grow: 0;

		.seperator:before {
			content: " · ";
		}

		.item-mod-affix {
			color: #000;
		}
	}

	.requirements, .sell-infos {
		font-size: rem-calc(12px);
		span {
			padding-right: 5px;
			line-height: 30px;
			&.amount {
				padding-right: 0;
			}
		}

		.price:hover {
			cursor: help;
		}
		span.currency {
			width: 30px;
			height: 30px;
			display: inline-block;
			background-size: 30px;
			padding-right: 35px;
			background: url('../img/currency_icons.png') no-repeat;

			&.Regal {
				background-position: right 0;
			}
			&.Augmentation {
				background-position: right -30px;
			}
			&.Wisdom {
				background-position: right -60px;
			}
			&.Portal {
				background-position: right -90px;
			}
			&.Alchemy {
				background-position: right -120px;
			}
			&.Mirror {
				background-position: right -150px;
			}
			&.Blessed {
				background-position: right -180px;
			}
			&.Whetstone {
				background-position: right -210px;
			}
			&.Scrap {
				 background-position: right -240px;
			}
			&.Vaal {
				background-position: right -270px;
			}
			&.Bauble {
				background-position: right -300px;
			}
			&.Chaos {
				background-position: right -330px;
			}
			&.Chisel {
				background-position: right -360px;
			}
			&.Chromatic {
				background-position: right -390px;
			}
			&.Divine {
				 background-position: right -420px;
			}
			&.Exalted {
				background-position: right -450px;
			}
			&.Transmutation {
				background-position: right -480px;
			}
			&.Scouring {
				background-position: right -510px;
			}
			&.Regret {
				background-position: right -540px;
			}
			&.Fusing {
				background-position: right -570px;
			}
			&.Prism {
				background-position: right -600px;
			}
			&.Jewellers {
				background-position: right -630px;
			}
			&.Alteration {
				background-position: right -660px;
			}
			&.Chance {
				background-position: right -690px;
			}
			&.Coins {
				background-position: right -720px;
			}
		}
	}

	.requirements {
		span {
			line-height: 15px;
		}
	}

	.sell-infos {
		padding-left: 3px;
	}

	.mods, .modsPseudo {

		ul {
			margin-top: 10px;
			font-size: rem-calc(12px);
			margin-bottom: 5px;

			a {
				display: inline-block;
				max-width: 300px;
			}
		}
		.firstExplicit {
			border-top: 1px dotted #008ee8;
		}
		.unidentified {
			color: $bg_color_corrupted;
			font-weight: 700;
		}
	}
	.modsPseudo {
		opacity: .8;
	}

	.whisper-btn {
		margin-bottom: 10px;
	}

	.grid-block.item-info {
		flex-wrap: initial;
		-webkit-flex-wrap: initial;
		
		&> .grid-block {
			padding-left: 10px;
		}
	}

	.image-container {
		max-width: 114px;
		width: 100%;
		max-height: 170px;
		background-size: contain;
		padding: 10px;
		background-repeat: no-repeat;
		position: absolute;
		background-position: right 10px;

		img {
			max-height: 170px;
			margin: 0 auto;
		}

		&:hover {
			.socket, .socketLink {
				opacity:0;
			}
		}

		.socket {
			position: absolute;
			height: 47px;
			width: 47px;
			background: url('../img/sockets.png');
			top: 0;
			left: 0;
			margin: 10px;

			&.middle {
				top: 47px;
			}
			&.bottom {
				top: 94px;
			}
			&.socketRight {
				right:0;
				left: initial;
			}
			&.socketBlue {
				background-position: 0 -47px;
			}
			&.socketGreen {
				background-position: 0 -94px;
			}
			&.socketWhite {
				background-position: 0 -235px;
			}
		}

		.socketLink {
			position: absolute;
			height: 47px;
			width: 47px;
			background: url('../img/sockets.png');
			top: 0;
			left: 0;
			margin: 10px;

			&.socketLinkCenter {
				background-position: 0 -188px;
				left: 23px;
				&.middle {
					top: 48px;
				}
				&.bottom {
					top: 95px;
				}
			}
			&.socketLinkLeft, &.socketLinkRight {
				background-position: 0 -141px;
				top: 24px;
				&.middle {
					top: 71px;
				}
			}
			&.socketLinkRight {
				background-position: 0 -141px;
				left: 46px;
			}
			&.socketLinkLeft {
				background-position: 0 -141px;
				left: -1px;
			}

		}
	}

	.item-stats {
		font-size: rem-calc(12px);

		table {
			min-width: 150px;
		}
		td {
			padding: 3px 3px;
			text-align: left;

			&:nth-of-type(2) {
				text-align: right;
			}
			a.quality {
				color: green;
			}
		}
	}

	a {
		&.mod-fire-res, &.mod-fire-dmg {
			color: #ff0000;
		}
		&.mod-cold-res, &.mod-cold-dmg {
			color: #00b8e6;
		}
		&.mod-lightning-res, &.mod-lightning-dmg {
			color: #cccc00;
		}
		&.mod-chaos-res, &.mod-chaos-dmg {
			color: #006600;
		}
		&.mod-life {
			color: #800000;
		}
		&.mod-mana {
			color: #0000cc;
		}
	}
}


.panel {
	width: 400px;

	.saved-search.accordion {
		margin-top: 50px;
		a {
			position: relative;
		}

		svg {
			position: absolute;
			right: 10px;
			top:10px;
			width: 21px;
			height: 21px;
			&:hover {
				cursor:pointer;
			}
		}
	}

	.block-list li > a, .block-list li > span, .block-list li > label {
		font-size: rem-calc(12);
	}

	.search-options {
		margin-top: 50px !important;
		a {
			position: relative;
		}
		section {
			width: 100%;
			margin-left: 0px;
			padding-left: 0px;
		}
	}

	.saveOptionsLink {
		position: absolute;
		top: 10px;
		left: 10px;
	}
}