@import "settings";
@import "foundation";

$bg_color_corrupted :#C22626;
$border_color : #646464;
$border_color_item: $primary-color;
$link_color: #adadad;
$color_white : #fff;
$color_gem_name : #1ba29b;
$color_unique_name : #af6025;
$color_rare_name : #a3a314;
$color_magic_name : #6688ff;
$color_currency_name : #9c7e38;
$color_normal_name : $body-font-color;
$color_card_name : #dcd3c3;
$switch_on_color: #43AC6A;
$color_fire: #D01D1D;
$color_cold: #00b8e6;
$color_lightning: #cccc00;
$color_chaos: #d02090;
$color_life: #F10A0A;
$color_mana: #9898FF;
$color_quality: #56AB56;
$color_item_text: #868585;
//$color_input_bg: #353535;
$color_input_bg: rgba(0,0,0,0.1);

a {
	color: $link_color;
}
a:hover, a:focus {
	color: $link_color;
}

li {
	list-style-type: none;
}
ul {
	margin-left: 0;
}

em {
  font-style: normal;         /* Removes italics */
  text-decoration: underline; /* Makes underline */
}

img.pageLogo {
	width: 40px;
	height: 40px;
	margin: 8px !important;
}
.online {
	color: #23D829;
}
.menu-bar > li > a.pageLogo {
	padding: 0;
}

.label.corrupted {
	padding: 0.13333rem 0.5rem;
	background-color: $bg_color_corrupted;
}
.label.mirrored {
	padding: 0.13333rem 0.5rem;
	background-color: grey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.app-header {
	color: white;
	background-color: #2b2b2b;
	border-bottom: 1px solid $body-font-color;
	text-align: right;
	font-size: rem-calc(12px);
	span {
		display: inline-block;
		padding: 2px;
		vertical-align: middle;
	}
	a {
		color: white;
	}
	.gitter {
		margin-right: 34px;
	}
	.disclaimer, .repo {
		color: white;
		border-color: white;
		padding:4px;
		margin: 2px;
	}
}

.menu-bar {
	h1 {
		font-size: 2.5rem;
		color: white;
		margin: 0;
	}
	h6 {
		color: #ababab;
	}
	&.primary {
		border-bottom: 1px solid $body-background;
	}
}

.searchField {
	padding: 0 3rem;
	hr {
		margin-top: 5px;
	}
}
#searchField {
	background-color: $color_input_bg;
	color: white;
	border-color: $primary-color;
}
.guide {
	margin-bottom: 20px;
}
.badSearchInputTerms, .sampleSearches, .termsGuide, .spoiler, .panel {
	.accordion-title, .accordion-content {
		padding: 0.5rem;
		font-size: rem-calc(12px);
		border-color: $primary-color;
	}
	&.accordion, .accordion {
		border-color: $primary-color;
	}
	.accordion-title {
		background-color: $primary-color;
		color: $body-font-color;
		&:hover {
			background-color: darken($primary-color, 2%)
		}
	}
	ul, ol {
		font-size: rem-calc(14px);
		margin-bottom: 0px;
		font-family: monospace;
	}
	p {
		font-size: rem-calc(12px);
		margin-bottom: 0.5rem;
	}
	code {
		background: transparent;
		border:none;
		color: $link_color;
		padding: 0;
	}
}

.accordion-title {
	&:hover {
		background-color: darken($primary-color, 2%)
	}
}

.openOptions, .openSaves {
	width: 30px;
	height:30px;
	display: inline-block;
	position: absolute;
	top: 106px;
	padding: 6px;
	box-shadow: 3px 0 10px rgba(1, 1, 1, 0.4);
	border: 1px solid $border_color;
}

.openOptions {
	left: 0;
}
.openSaves {
	right:5px;
	&.bookmark {
		top:136px;
	}
}

.footer {
	max-height:50px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid grey;
	background-color:$border_color;
	color: white;
	font-size: rem-calc(10px);
}

.DivWithScroll {
    height:520px;
    overflow:scroll;
    overflow-x:hidden;
}

.wide-json-dialog aside {
	max-width: 740px;
}

.rowOdd {
	background-color: #FFF;
}

.rowEven {
	background-color: #BFE7FF;
}


img.gitter-badge {
	margin:0;
}

#main {
	padding-top: 15px;
}

.grid-content.search-results .grid-block, .panel .grid-content .grid-block {
	margin-left: 0;
	margin-right: 0;
}

.search-options {
	margin:0 !important;

	.label-pseudoMods {
		margin:0;
		padding: 7px;
	}
}

.highlight {
	background-color: rgba(0,0,0,.2);
}
.itemsPerRow {
	flex: 0 0 100%;
}

.absoluteNavBtn {
	position: absolute;
	top: 42px;
	&.savedSearches {
		right: 10px;
	}
	&.scrollTop {
		right: 10px;
	}
}

.searchStats {
	font-size: 12px;
	color: white;
}

.code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-weight:100;
    font-size: 14px;
}

.search-results, #showItemModal, .panel {
	.item {
		min-width: 600px;
		margin: 5px 0;
		padding: 0;
		color: $color_item_text;

		h5 {
			margin: 0;
		}

		a.name {
            &.Normal {
				color: $color_normal_name;
            }
            &.Magic {
				color: $color_magic_name;
            }
            &.Rare {
				color: $color_rare_name;
            }
            &.Unique {
				color: $color_unique_name;
            }
            &.Gem {
				color: $color_gem_name;
            }
            &.Currency {
				color: $color_currency_name;
            }
            &.Card {
				color: $color_card_name;
            }
        }

		.item-border {
			margin: 0 5px;
			border-top: transparent;
		}
		.item-inner-border {
			border: 1px solid $border_color_item;
			padding: 5px 5px 0px 5px;
			background-color: #1D1D1D;
			background-color:rgba(0,0,0,.1);
		}
		.item-header {
			line-height: 30px;
			height: 27px;
			color: $body-font-color;
			border-bottom: 1px solid $border_color_item;
			background-color: $primary-color;
			width: 100%;

			.controls {
				padding: 0 8px;
				border: 1px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				width: 100%;

				h5 {
					display: inline;
				}

				svg {
					width: 25px !important;
					height: 18px !important;
					margin-top: 4px;
					margin-left: 8px;
					&:hover{
						cursor: pointer;
					}
				}

				.button {
					margin: 0;
					padding: 0;
					//vertical-align: inherit;
					&:hover {
						background-color: inherit;
					}
				}

				.switch.small {
					width: 2.2rem;
					height: 1.325rem;
					vertical-align: middle;
					margin-top: 3px;
				}
				.switch.small > label::after {
					width: 1.325rem;
					height: 1.325rem;
				}
				.switch input:checked + label {
					background-color: $switch_on_color;
					&:after {
						border-color: $switch_on_color;
					}
				}

				.saveNotificationLink {
					color: white;
				}
			}
		}

		span {
			display: inline;
			line-height: 1em;
		}
		
		.sortable {
			&:hover {
				cursor: default;
			}
		}
		.click {
			cursor: pointer;
		}
	}
	.item-box-left {
		position: relative;
		padding-right: 15px;
	}
	.item-box-right {
		flex-direction: column;
	}
	.grid-block.item-info {
		min-height: 170px;
		margin-left: 114px;
	}
	.item-info .grid-block {
		flex-grow: 0;
		-webkit-flex-grow: 0;

		.seperator:before {
			content: " · ";
		}

		.item-mod-affix {
			color: $color_item_text;
		}
	}

	.requirements, .sell-infos {
		font-size: rem-calc(12px);
		span {
			padding-right: 5px;
			line-height: 30px;
			&.amount {
				padding-right: 0;
			}
		}

		.price:hover {
			cursor: help;
		}
		span.currency {
			width: 30px;
			height: 30px;
			display: inline-block;
			background-size: 30px;
			padding-right: 35px;
			background: url('../img/currency_icons.png') no-repeat;

			&.Regal {
				background-position: right 0;
			}
			&.Augmentation {
				background-position: right -30px;
			}
			&.Wisdom {
				background-position: right -60px;
			}
			&.Portal {
				background-position: right -90px;
			}
			&.Alchemy {
				background-position: right -120px;
			}
			&.Mirror {
				background-position: right -150px;
			}
			&.Blessed {
				background-position: right -180px;
			}
			&.Whetstone {
				background-position: right -210px;
			}
			&.Scrap {
				 background-position: right -240px;
			}
			&.Vaal {
				background-position: right -270px;
			}
			&.Bauble {
				background-position: right -300px;
			}
			&.Chaos {
				background-position: right -330px;
			}
			&.Chisel {
				background-position: right -360px;
			}
			&.Chromatic {
				background-position: right -390px;
			}
			&.Divine {
				 background-position: right -420px;
			}
			&.Exalted {
				background-position: right -450px;
			}
			&.Transmutation {
				background-position: right -480px;
			}
			&.Scouring {
				background-position: right -510px;
			}
			&.Regret {
				background-position: right -540px;
			}
			&.Fusing {
				background-position: right -570px;
			}
			&.Prism {
				background-position: right -600px;
			}
			&.Jewellers {
				background-position: right -630px;
			}
			&.Alteration {
				background-position: right -660px;
			}
			&.Chance {
				background-position: right -690px;
			}
			&.Coins {
				background-position: right -720px;
			}
		}
	}

	.requirements {
		span {
			line-height: 15px;
		}
	}

	.sell-infos {
		padding-left: 3px;
	}

	.mods, .modsPseudo {

		ul {
			margin-top: 10px;
			font-size: rem-calc(12px);
			margin-bottom: 5px;

			a {
				display: inline-block;
				max-width: 300px;
			}
		}
		.firstExplicit {
			border-top: 1px dotted $body-font-color;
		}
		.unidentified {
			color: $bg_color_corrupted;
			font-weight: 700;
		}
	}
	.modsPseudo {
		opacity: .8;
	}

	.whisper-btn {
		margin-bottom: 10px;
	}

	.grid-block.item-info {
		flex-wrap: initial;
		-webkit-flex-wrap: initial;
		
		&> .grid-block {
			padding-left: 10px;
		}
	}

	.image-container {
		max-width: 114px;
		width: 100%;
		max-height: 170px;
		background-size: contain;
		padding: 10px;
		position: absolute;
		background: no-repeat right 10px;

		img {
			max-height: 170px;
			margin: 0 auto;
			object-fit: contain;
			object-position: 50% 0;
		}

		&:hover {
			.socket, .socketLink {
				opacity:0;
			}
		}

		.socket {
			position: absolute;
			height: 47px;
			width: 47px;
			background: url('../img/sockets.png');
			top: 0;
			left: 0;
			margin: 10px;

			&.middle {
				top: 47px;
			}
			&.bottom {
				top: 94px;
			}
			&.socketRight {
				right:0;
				left: initial;
			}
			&.socketBlue {
				background-position: 0 -47px;
			}
			&.socketGreen {
				background-position: 0 -94px;
			}
			&.socketWhite {
				background-position: 0 -235px;
			}
		}

		.socketLink {
			position: absolute;
			height: 47px;
			width: 47px;
			background: url('../img/sockets.png');
			top: 0;
			left: 0;
			margin: 10px;

			&.socketLinkCenter {
				background-position: 0 -188px;
				left: 23px;
				&.middle {
					top: 48px;
				}
				&.bottom {
					top: 95px;
				}
			}
			&.socketLinkLeft, &.socketLinkRight {
				background-position: 0 -141px;
				top: 24px;
				&.middle {
					top: 71px;
				}
			}
			&.socketLinkRight {
				background-position: 0 -141px;
				left: 46px;
			}
			&.socketLinkLeft {
				background-position: 0 -141px;
				left: -1px;
			}

		}
	}

	.item-stats {
		font-size: rem-calc(12px);

		table {
			min-width: 150px;
		}
		td {
			padding: 3px 3px;
			text-align: left;

			&:nth-of-type(2) {
				text-align: right;
			}
			a.quality {
				color: $color_quality;
			}
		}
	}

	a {
		&.mod-fire-res, &.mod-fire-dmg {
			color: $color_fire;
		}
		&.mod-cold-res, &.mod-cold-dmg {
			color: $color_cold;
		}
		&.mod-lightning-res, &.mod-lightning-dmg {
			color: $color_lightning;
		}
		&.mod-chaos-res, &.mod-chaos-dmg {
			color: $color_chaos;
		}
		&.mod-life {
			color: $color_life;
		}
		&.mod-mana {
			color: $color_mana;
		}
	}
}

#showItemModal{
	.modal {
		max-width: 95%;
	}
	.item {
		margin-top: 50px;
	}
	.switch, .saveNotificationLink {
		display: none;
	}
}

.panel {
	width: 400px;

	.saved-search.accordion {
		margin-top: 50px;
		a {
			position: relative;
		}

		svg {
			position: absolute;
			right: 18px;
			top:10px;
			width: 21px;
			height: 21px;
			&:hover {
				cursor:pointer;
			}
		}
	}

	.block-list li > a, .block-list li > span, .block-list li > label {
		font-size: rem-calc(12);
	}
	.block-list header {
		color: $link_color;
	}
	.block-list input {
		background-color: $color_input_bg;
		&:focus {
			color: $link_color;
		}
	}
	.block-list li {
		border-bottom: 1px solid $hr-border-color;
	}
	.block-list li > a:hover, .block-list li > label:hover, .block-list li select:hover {
		background-color: $hr-border-color;
	}
	.button.hollow {
		background-color: $hr-border-color;
		&:hover, &:focus {
			background: transparent;
		}
		color: $link_color;
	}

	.search-options {
		margin-top: 50px !important;
		a {
			position: relative;
		}
		section {
			width: 100%;
			margin-left: 0px;
			padding-left: 0px;
		}
	}

	.saveOptionsLink {
		position: absolute;
		top: 10px;
		left: 10px;
	}
}

#savedSearchesPanel {
	width: 400px;
	.block-list li:first-child {
		border-top: none;
	}
	.accordion-content {
		padding-top: 0;
	}
	.accordion {
		border: none;
	}

}
#savedSearchesPanel, #savedItemsPanel {
	margin-top: 87px;
}
#savedItemsPanel {
	width: 650px;
	padding-top: 50px;
	.accordion {
		.grid-content, .accordion-content {
			padding: 0;
		}
		.availablity {
			padding: 1rem;
		}
		.accordion-item-wrapper {
			position: relative;
		}
		svg {
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
		}

	}
	.controls {
		.saveNotificationLink, .switch {
			display: none;
		}
	}
}