<a class="button" id="testbutton" ng-click="openTutorialPopup('', 0)">Test Tutorial</a>

<div class="tutorial-popup" data-target="testbutton" id="tutorial-0">
	<div class="content-wrapper" data-after="initial">
		<div class="arrow-shadow"></div>
		<a class="close-button" ng-click="closeTutorialPopup($event)">×</a>
		<div class="content">
			<p>
				Example 1 Content
			</p>
			<!--<a href="#" class="button" ng-click="openTutorialPopup('prev', $event)">Prev</a>-->
			<a href="#" class="button" ng-click="openTutorialPopup('next', $event)">Next</a>
		</div>
	</div>
</div>

<div class="tutorial-popup" data-target="optionsButton" id="tutorial-1">
	<div class="content-wrapper" data-after="initial">
		<div class="arrow-shadow"></div>
		<a class="close-button" ng-click="closeTutorialPopup($event)">×</a>
		<div class="content">
			<p>
				Example 2 Content
			</p>
			<a href="#" class="button" ng-click="openTutorialPopup('prev', $event)">Prev</a>
			<a href="#" class="button" ng-click="openTutorialPopup('next', $event)">Next</a>
		</div>
	</div>
</div>

<div class="tutorial-popup" data-target="savedItemsButton" id="tutorial-2">
	<div class="content-wrapper" data-after="initial">
		<div class="arrow-shadow"></div>
		<a class="close-button" ng-click="closeTutorialPopup($event)">×</a>
		<div class="content">
			<p>
				Example 3 Content
			</p>
			<a href="#" class="button" ng-click="openTutorialPopup('prev', $event)">Prev</a>
			<a href="#" class="button" ng-click="openTutorialPopup('next', $event)">Next</a>
		</div>
	</div>
</div>

<div class="tutorial-popup" data-target="searchField" id="tutorial-3">
	<div class="content-wrapper">
		<div class="arrow-shadow"></div>
		<a class="close-button" ng-click="closeTutorialPopup($event)">×</a>
		<div class="content">
			<p>
				Example 4 Content
			</p>
			<a href="#" class="button" ng-click="openTutorialPopup('prev', $event)">Prev</a>
		</div>
	</div>
</div>